.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;    
}

.modal-content {
    width: 50rem;
    max-width: 90%;
    background-color: white;
    border-radius: 12px;
}

.modal-header, .modal-footer {
    padding: 15px;    
}

.modal-header {
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #ac0e77;
    border-radius: 12px 12px 0 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    display: flex;
    padding: 15px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}